#pricePerDay {
    position: absolute;
    top:50%;
    left:15%;
}
#pricePerDayLabel {
    position: absolute;
    top:48%;
}
#modelLabelOption {
    position: absolute;
    top:28%;
}
#numberOfVehiclesLabel {
    position: absolute;
    top:35%;
    left:0%;
}